<div id="navbar">
    <div id="firstContainerNavbar"></div>
    <div id="secondContainerNavbar">
        <div id="profilHead">
        <a href="{{ path('user_edi') }}" >
            <img src="{{  asset('build/img/avatarHead.png')}}" alt=""></a>
        </div>
    </div>
</div>

<script src="{{ asset('build/js/navbar.js') }}"></script>