<div id="navbar">
    <div id="firstContainerNavbar"></div>
    <div id="secondContainerNavbar">
        <div id="profilHead">
            <img src="{{  asset('build/img/avatarHead.png')}}" alt="">
        </div>
    </div>
</div>