{% extends 'base.html.twig' %}

{% block title %}Inventaire{% endblock %}

{% block body %}

    <div id="articleFormContainer">
        <div id="articleFormImg">
            <div id="articleFormImgShow">
                <div></div>
            </div>
            <div id="addBtnImg">
                <a href="" id="addImg">AJOUTER UNE PHOTO</a>
                <a href="" id="resetImg">REINITIALISER</a>
            </div>
        </div>
        <div id="articleFormInput"></div>
        <div id="articleFormBtn">
            <a href="" id="saveArticleForm">ENREGISTRER</a>
            <a href="" id="resetArticleForm">REINITIALISER</a>
        </div>
    </div>
{% endblock %}
