{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <div id="informationContainer">
        <div id="userConnectedInformation">
            <div id="userNameAndRules">
                <h2>John Doe - Manager</h2>
            </div>
            <div id="avatarUserImg">
                <img src="{{ asset('build/img/avatar.png')}}" alt="">
            </div>
        </div>
        <div id="recentArticles">
            <div id="firstRecentArticles">
                <p>Nouveaux Articles</p>
            </div>
            <div id="secondRecentArticles">
                <h2>21</h2>
            </div>
            <div id="thirdRecentArticles">
                <p>Mois dernier</p>
            </div>
        </div>
    </div>

    <div id="datatableRecentArticles">

    </div>
{% endblock %}
